* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ----------------- TOP HEADER ----------------- */
.top-header {
  background-color: #082f4d;
}

/* SEARCH BAR */
.search-input {
  border-radius: 4px 0 0 4px;
  border: none;
  width: 300px;
}

.category-select {
  max-width: 120px;
  border: none;
  border-left: 1px solid #ddd;
  border-radius: 0;
}

.search-btn {
  background-color: #1c6080;
  color: white;
  border-radius: 0 4px 4px 0;
  border: none;
}

.search-btn:hover {
  background-color: #67c2e0;
}

/* ----------------- NAV MENU ----------------- */
.navbar-nav .nav-link {
  color: #333 !important;
  font-weight: 500;
  padding: 8px 12px;
}

.navbar-nav .nav-link:hover {
  color: #1c6080 !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* ----------------- RESPONSIVE FIXES ----------------- */
@media (max-width: 992px) {

  /* Make search full width */
  .search-wrapper {
    width: 100%;
    display: flex;
  }

  .search-input {
    width: 100%;
  }

  .category-select {
    max-width: 90px;
  }

  .navbar-nav {
    text-align: center;
    padding: 10px 0;
  }

  .navbar-nav .nav-link {
    padding: 12px;
    font-size: 18px;
  }

  /* Stack items neatly */
  .top-header .container {
    flex-direction: column;
    gap: 10px;
  }
}


.fbg {
  width: 100%;
  height: 540px;
  padding: 60px 20px 120px;
  background-image: url('fbg3');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:0px 0px;
  background-color: #082f4d;
  ba
}

.fbg h1 {
  font-size: 40px;
  color: #059eeb;
  text-align: left;
  margin-left: 20px;
  font-family:"Michroma", sans-serif;
}

.fbg p {
  max-width: 800px;
  margin-left: 20px;
  margin-top: 50px;
  color: black;
  font-size: 16px;
}
  /* Buttons Container */
        .button-container {
            display: flex;
            gap: 15px;
            margin-left: 20px;
            margin-top: 30px;
            flex-wrap: wrap;
        }

        .btn2 {
            padding: 12px 24px;
            background-color: #05aeeb;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
            text-align: center;
            min-width: 120px;
        }
           .btn:hover {
            background-color: #0490c7;
            transform: translateY(-2px);
        }

        .btn-outline {
            background-color: transparent;
            border: 2px solid #05aeeb;
            color: #05aeeb;
        }

        .btn-outline:hover {
            background-color: #05aeeb;
            color: white;
        }



 @media (max-width: 480px) {
            .fbg {
              backgound:none;
                padding: 30px 10px 60px;
                min-height: 400px;
            }

            .fbg h1 {
                font-size: 26px;
            }

            .fbg p {
                font-size: 14px;
            }
          /* Fixed Button Alignment for Mobile */
            .button-container {
                justify-content: center;
                margin-left: 0;
                gap: 10px;
            }
}

.category-container a{
  text-decoration: none;
}


   

   .category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
  padding: 40px 10px;
  margin-top: 40px;
}

.category {
  display: flex;
  align-items: center;
  gap: 46px;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px 18px;
  cursor: pointer;
  transition: 0.3s ease;
  background: #fff;
}

.category img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.category span {
  font-weight: 600;
  color: #111;
  font-size: 0.95rem;
}

#bannerCarousel {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  margin: 20px auto;
  margin-top: 70px;
}

.banner-img {
  width: 100%;
  height: 520px;            /* Adjust height */
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
}

.carousel-indicators .active {
  background-color: #555;
}

/* Responsive */
@media (max-width: 768px) {
  .banner-img {
    height: 250px;
  }
}


.marquee-banner {
 background: #066f99;
background: linear-gradient(90deg, rgba(6, 111, 153, 1) 0%, rgba(39, 152, 217, 1) 50%, rgba(8, 110, 150, 1) 100%);
  color: white;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  margin: 20px 0;
}

.marquee-banner marquee {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

  


 .top-products-section h2 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 40px;
      border-bottom: 1px solid #ccc;
      display: inline-block;
      padding-bottom: 8px;
      letter-spacing: 0.5px;
    }

    .product-grid1 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;
      position: absolute;
      top: 850px;
      left: 200px;
    }

    .product-card1 {
      width: 200px;
      text-align: center;
      transition: transform 0.3s ease;
      position: relative;
    }

    .product-card1:hover {
      transform: translateY(-5px);
    }

    .product-card1 img {
      width: 150px;
      height: 180px;
      object-fit: contain;
    }

    .offer-badge {
      position: absolute;
      top: 5px;
      right: 5px;
      background: #fff;
      border: 1px solid #000;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
    }

    .product-name {
      font-size: 15px;
      font-weight: 500;
      margin-top: 10px;
    }

    .rating {
      margin-top: 8px;
      color: #d22;
      font-size: 14px;
    }

    .rating i {
      color: #e41b17;
      margin-right: 2px;
    }

    .price {
      font-size: 15px;
      font-weight: 600;
      margin-top: 5px;
    }

    @media (max-width: 768px)   (max-width: 390px){
      .product-grid {
        gap: 25px;
      }

      .product-card1 {
        width: 45%;
      }
    }

    @media (max-width: 390px) {
      .product-card {
        width: 100%;
      }
    }
/* ===== SECTION STYLING ===== */
.product-section {
  position: relative;
  top:150px;
}

.section-heading {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.divider {
  width: 80%;
  margin: 1.5rem auto;
  border-top: 2px solid #ddd;
}

/* ===== PRODUCT CARD ===== */
.product-card {
  
  border: none;
  padding: 25px 20px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Product Image */
.product-card img {
  width: 100%;
  max-width: 230px;
  margin: 0 auto 20px;
  display: block;
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

/* Stars + Reviews */
.stars {
  font-size: 0.9rem;
  color: #000;
  margin-bottom: 8px;
}

.stars span {
  font-weight: 500;
  color: #555;
  margin-left: 4px;
}

/* Product Title */
.product-card h5 {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
}

/* Price */
.price {
  font-weight: 700;
  font-size: 1.1rem;
}

/* Buttons */
.product-card .btn {
  background-color: #0d324f;
  margin-top: 15px;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 0;
}

/* ===== SECTION STYLING ===== */
.product-section2 {
  position: relative;
  top:150px;
}

.section-heading2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.divider2 {
  width: 80%;
  margin: 1.5rem auto;
  border-top: 2px solid #ddd;
}

/* ===== PRODUCT CARD ===== */
.product-card2 {

  border: none;
  padding: 25px 20px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.product-card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Product Image */
.product-card2 img {
  width: 100%;
  max-width: 230px;
  margin: 0 auto 20px;
  display: block;
  transition: transform 0.3s ease;
}

.product-card2:hover img {
  transform: scale(1.05);
}

/* Stars + Reviews */
.stars2 {
  font-size: 0.9rem;
  color: #000;
  margin-bottom: 8px;
}

.stars2 span {
  font-weight: 500;
  color: #555;
  margin-left: 4px;
}

/* Product Title */
.product-card2 h5 {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
}

/* Price */
.price2 {
  font-weight: 700;
  font-size: 1.1rem;
}

/* Buttons */
.product-card2 .btn2 {
  background-color: #0d324f;
  margin-top: 15px;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 0;
  color: white;
}
 
.features-section {
  position:relative;
  top:-200px;
}

.feature-icon {
  width: 90px;
    max-width: 100%;
    height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.feature-icon:hover {
  transform: scale(1.1);
}

.feature-text {
font-size: 14px;
color: #04263a;
  font-weight: 600;
}

@media (max-width: 768px)  (max-width: 390px) {
  .feature-text {
    font-size: 14px;
  }
}

.review-section {
     position: relative;
     
    }
    .review-card {
      background-color: #0b2433;
      color: #fff;
      border-radius: 10px;
      transition: transform 0.3s ease;
      width: 490px;
      height: 220px;
    
    }
    .review-card:hover {
      transform: translateY(-5px);
    }
    .review-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    .stars i {
      font-size: 1rem;
    }
    .carousel-indicators [data-bs-target] {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ccc;

    }
    .carousel-indicators .active {
      background-color: #0b2433;
    }


    footer {
      background-color:#0d324f;
      color: #fff;
      padding: 50px 8%;
      position: relative;
    
    }

    .footer-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 40px;
      gap: 30px;
    }

    .footer-col {
      flex: 1;
      min-width: 220px;
    }

    .footer-col h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .footer-col p {
      font-size: 14px;
      line-height: 1.6;
      color: #ccc;
    }

    .subscribe-box {
      display: flex;
      margin-top: 15px;
    }

    .subscribe-box input {
      padding: 10px 15px;
      border: none;
      border-radius: 4px 0 0 4px;
      outline: none;
      flex: 1;
      font-size: 14px;
    }

    .subscribe-box button {
      background-color: #555;
      color: #fff;
      border: none;
      padding: 12px 12px;
      font-weight: 600;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      transition: 0.3s;
    }

    .subscribe-box button:hover {
      background-color: #c62828;
    }

    .footer-links {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      gap: 10px;
      font-size: 14px;
    }

    .footer-links li a {
      text-decoration: none;
      color: #ccc;
      transition: 0.3s;
    }

    .footer-links li a:hover {
      color: #fff;
    }

    .social-icons {
      display: flex;
      gap: 15px;
      margin-top: 10px;
    }

    .social-icons a {
      background-color: #fff;
      color: #a10702;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      transition: 0.3s;
    }

    .social-icons a:hover {
      transform: scale(1.1);
    }

    .app-links img {
      height: 40px;
      margin-top: 20px;
      margin-right: 10px;
    }

    .most-searched {
      border-top: 1px solid #444;
      padding-top: 25px;
      margin-top: 25px;
    }

    .most-searched h4 {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .keywords {
      color: #ccc;
      font-size: 13px;
      line-height: 1.8;
    }

    .keywords span {
      border-left: 1px solid #666;
      padding-left: 6px;
      margin-left: 6px;
    }

    @media (max-width: 900px) {
      .footer-top {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @media (max-width: 390px) {
      .subscribe-box {
        flex-direction: column;
      }

      .subscribe-box input,
      .subscribe-box button {
        width: 100%;
        border-radius: 4px;
      }

      .subscribe-box button {
        margin-top: 8px;
      }
    }
@media (max-width: 576px) {
    section {
        padding: 20px 0 !important;
    }
}
